################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IOIntelligenceTelegramBot/obj
/IOIntelligenceTelegramBot/bin
/.vs
